{{#ifEquals user.role "resolver"}}
  <script>window.location.href = "/resolver";</script>
{{/ifEquals}}


<h2>Welcome to Complaint Management System</h2>
<br>
<h3>Hello {{user.name}} !!!</h3>

<br>
<br>
<a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>

<a href="/my-complaints" class="btn btn-primary" style="margin: 10px;">
  My Complaints
</a>
